.root {
  background: transparent;
  height: 6px;
  overflow: hidden;
  width: 100%;
  top: -3px;
  position: relative;
}

.bar {
  height: 4px;
  position: relative;
  width: 12%;
}

.active .bar {
  animation: loading 1s linear infinite;
  background-color: var(--accent-bg-color);
}

@keyframes loading {
  0% {
    left: -12%;
  }
  100% {
    left: 100%;
  }
}
