.control {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-end;
  padding: 0 8px;
}

.message {
  color: var(--danger-color);
  font-size: 0.9rem;
}

.doneButton {
  border-radius: 4px;
  background-color: var(--accent-bg-color);
  font-weight: 700;
  color: var(--accent-text-color);
}
